*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    box-sizing: border-box;
    color: rgb(9, 1, 58);
}
body{
    background-color: rgb(247, 239, 239);
}
#color{
    background-color: rgb(229, 242, 245);
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
    padding-top: 2rem ;
}
/* NAV */
/* ----------------------------------------------------------------------------- */
#menu{
    background-color: rgb(2, 7, 77);
    width: calc(100vw);
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo img{
    width: 3rem;
}

#menubot{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: calc(100%-30%)
}

#menubot ul{
    display: flex;
    list-style: none;
}


#menubot2{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    width: calc(100%-10%)
}

#menubot2 ul{
    list-style: none;
    display: flex;

}

.linka{
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
}

.ico{
    font-size: 1.5rem;
    padding: 1rem;
}

.linka, .ico{
    transition: 0.3s;
    color: white;
}
/* ------------------------------------------------------------------------------ */
/* Carrossel */
/* ------------------------------------------------------------------------------ */
.carrosselcontainer{
    position: relative;
    transition: 1s;
}

.carrosselcontainer .cr .slide{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.carrosselcontainer .cr{
    display: none;
}
.carrosselcontainer .cr.carr{
    display: block;
}

.carrosselcontainer .cr:nth-child(1) .slide{
    background: url(/img/carrossel/carrmed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer .cr:nth-child(2) .slide{
    background: url(/img/carrossel/carrmed2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer .cr:nth-child(3) .slide{
    background: url(/img/carrossel/carr3med.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer #prevbut, .carrosselcontainer #nextbut{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 40%;
    transition: 0.5s;
}
.carrosselcontainer #prevbut{
    left: 20px;
}
.carrosselcontainer #nextbut{
    right: 20px;
}

.coset{
    color: rgba(255,255,255,0.1);
}

/* ------------------------------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------------------------------ */
.main{
    margin: 0 auto;
    width: 75%;
}
/* ------------------------------------------------------------------------------ */
/* MAIN unidade */
/* ------------------------------------------------------------------------------ */
#h1uni{
    margin: 1rem auto;
    width: 20%;
}
#pmain{
    margin: 0 auto;
    width: 80%;
    font-size: 1rem;

}
#pmain p, #h1uni h1{
    transition: 0.5s;
}
/* ------------------------------------------------------------------------------ */
/* MAIN mapa */
/* ------------------------------------------------------------------------------ */
#mapacontainer{
    display: flex;
    width: 100%;
    margin: 5rem 0 0 0;
}

#botmap{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: calc((100vw - 80%) - 30vw);
}

.buttonmapa{
    margin: 0.5rem 0 0 0;
    height: 3rem;
    width: 100%;
}
/* ------------------------------------------------------------------------------ */
