*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    box-sizing: border-box;
    color: rgb(9, 1, 58);
}

body{
    background: url('/img/texture.webp');
}
#color{
    background-color: rgba(224, 224, 224,0.6);
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
    padding:2rem 0 2rem 0 ;
}
/* NAV */
/* ----------------------------------------------------------------------------- */
#menu{
    background-color: rgb(2, 7, 77);
    width: calc(100vw);
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition: 0.5s;
}
#logo img{
    width: 5rem;
}

#menubot{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: calc(100%-30%);
}

#menubot ul{
    display: flex;
    list-style: none;
}


#menubot2{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    width: calc(100%-10%)
    
}

#menubot2 ul{
    list-style: none;
    display: flex;

}

.linka{
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
}

.ico{
    font-size: 1.5rem;
    padding: 1rem;
}

.linka, .ico{
    transition: 0.3s;
    color: white;
}
/* ------------------------------------------------------------------------------ */
/* Carrossel */
/* ------------------------------------------------------------------------------ */
.carrosselcontainer{
    position: relative;
    transition: 1s;
}

.carrosselcontainer .cr .slide{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.carrosselcontainer .cr{
    display: none;
}
.carrosselcontainer .cr.carr{
    display: block;
}

.carrosselcontainer .cr:nth-child(1) .slide{
    background: url(/img/carrossel/carrmed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer .cr:nth-child(2) .slide{
    background: url(/img/carrossel/carrmed2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer .cr:nth-child(3) .slide{
    background: url(/img/carrossel/carr3med.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.carrosselcontainer #prevbut, .carrosselcontainer #nextbut{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 40%;
    transition: 0.5s;
}
.carrosselcontainer #prevbut{
    left: 20px;
}
.carrosselcontainer #nextbut{
    right: 20px;
}

.coset{
    color: rgba(255,255,255,0.1);
}

/* ------------------------------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------------------------------ */
.main{
    margin: 0 auto;
    width: 75%;
}
/* ------------------------------------------------------------------------------ */
/* MAIN unidade */
/* ------------------------------------------------------------------------------ */
.contecontain{
    background-color: rgba(180, 180, 180, 0.2);
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0 0 15px 0;
}

#h1uni, #h1serv{
    margin: 1rem auto;
    width: 20%;
    text-align: center;
}
#pmain, #pserv{
    margin: 0 auto;
    width: 80%;
    font-size: 1rem;
    text-align: center;

}
/* ------------------------------------------------------------------------------ */
/* MAIN mapa */
/* ------------------------------------------------------------------------------ */
#mapacontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 0 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(180, 180, 180, 0.2);
    padding: 0 0 4rem 0;
    border-radius: 50px;
}

#botmap{
    display: flex;
    justify-content: space-between;
    top: 10px;
    padding: 0 3rem;
    width: 80%;
}

.buttonmapa{
    margin: 1rem 0 1rem 0;
    height: 3rem;
    width: 100%;
    background: rgb(45, 30, 65);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px 5px 15px 15px;
    cursor: pointer;
    transition: 0.5s;
    min-width: 100px;
    border: 1px solid black;
}

#containermap{
    text-align: center;
    width: 90%;
    margin: 0 0 0 1rem;
    background: rgb(45, 30, 65);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#mapa{
    width: 100%;
}

#textMap{
    font-size: 20px;
    margin: 20px 20px;
    cursor: default;
    color: rgb(207, 207, 207);
}

#farmac{
    background-color: #D2D2D2;
    color: #3A0900;
    border: none;
}
/* ------------------------------------------------------------------------------ */
/* MAIN serviços */
/* ------------------------------------------------------------------------------ */
#servcontain2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containerserv{
    width: 23%;
    height: 40vh;
    padding-bottom:0;
    position: relative;
    transition: 0.5s;
}

.containerserv:hover{
    transform: translateY(-10px);
    
}

#servcontent{
    margin: 2rem auto;
}

.servimg{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.5s;
}

.hidde{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(45,183,230,0.1), #052733);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butimg{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: #003344;
    color: white;
    transition: 0.5s;
    border: 1px solid black;
}

#servimg1{
    background: url('/img/servicos/radio2.png.opdownload');
    background-size: cover;
    background-position: center;
}

#servimg2{
    background: url('/img/servicos/nutricionista2.jpeg.opdownload');
    background-size: cover;
    background-position: center;
}

#servimg3{
    background: url('/img/servicos/ortopedia.webp');
    background-size: cover;
    background-position: center;
}

#servimg4{
    background: url('/img/servicos/oftamologia.jpg');
    background-size: cover;
    background-position: center;
}
/* ------------------------------------------------------------------------------ */
/* MAIN SESAU */
/* ------------------------------------------------------------------------------ */
#sesaucontainer{
    width: 100%;
    background-color: rgb(2, 7, 77);
    height: 30vh;
    margin: 3rem 0 3rem 0 ;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

#conteudosesau{
    width: 50%;
    height: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid white ;
}

#conteudosesau2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#conteudosesau p{
    color: white;
    text-align: center;
    width: 80%;
    cursor: default;
}

.iconesesau{
    width: 100%;
    margin: 10px;
}

#sesaubut, #butonform{
    display: inline-block;
    border-radius: 4px;
    background-color: #5a3997;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#conteudosesau i{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Footer */

#footercontainer{
    width: 100vw;
    height: 400px;
    background-color: rgba(100, 100, 100, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#containerofoter2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#texto1container{
    width: 20%;
    margin: 70px 0 0 0;
}

#texto1container p {
    color:rgb(45, 30, 65);
    font-size: 20px;
    font-family: 'Noto Sans Mono', monospace;;
}


#texto2container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#butonform{
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(56, 56, 56);
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px 0 0 0;
}
#butonform i{
    color: white;
}

#footerimg{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

